<form action="" #frm1="ngForm" (ngSubmit)="xuly(frm1.value)" class="col-10 m-auto border border-success px-3 mt-2" style="background-color: azure; border-radius: 10px;">
    <div class="d-flex justify-content-center align-items-center">
        <div class="text-center" style="width: 50%; height: 50px; background-color: blue; border-radius: 0px 0px 5px 5px; color: white;">
            <h4>Thêm Task</h4>
        </div>
    </div>
    <div class="mb-3">
        Tên Dự Án
        <input type="text" name="ten_du_an" ngModel class="form-control">
    </div>
    <div class="mb-3">
        Ngày Bắt đầu
        <input type="date" name="ngay_start" ngModel class="form-control">
    </div>
    <div class="mb-3">
        Tiền
        <input type="number" name="tien" ngModel class="form-control">
    </div>
    <div class="mb-3">Leader
        <select name="leader" id="" ngModel class="form-control">
        <option *ngFor="let nv of listNhanVien" value="{{nv.id}}">
            {{nv.ho}} {{nv.ten}}

        </option>
    </select>

    </div>
    <div class="mb-3">Thanh Viên
        <select name="thanh_vien" ngModel id="" class="form-control" multiple size="4">
        <option *ngFor="let nv of listNhanVien" value="{{nv.id}}">
        {{nv.ho}} {{nv.ten}}
        </option>
    </select>
    </div>
    <div class="mb-3"><button class="btn btn-success">Thêm dự án</button></div>
</form>