<div class="container">
    <nav class="bg-success" style="height: 100px; background-color: green;">
        <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: green;">
            <div class="container-fluid bg-primary-subtle " style=" height: 68px;">
                <a class="navbar-brand" href="#">Quản lý dự án</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Quản lý dự án
                </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" routerLink="/du_an/them">Thêm dự án</a></li>
                                <li><a class="dropdown-item" href="#" routerLink="/du_an">Danh sách dự án</a></li>

                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Quản lý nhân viên
              </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" routerLink="/nhan_vien/them">Thêm nhân viên</a></li>
                                <li><a class="dropdown-item" href="#" routerLink="/nhan_vien">Danh sách nhân viên</a></li>

                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Quản lý task
            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" routerLink="/task/them">Thêm task</a></li>
                                <li><a class="dropdown-item" href="#" routerLink="/task">Danh sách task</a></li>

                            </ul>
                        </li>
                        <li class="nav-item dropdown d-flex" *ngIf="getStatus() !== 'thành viên'">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" routerLink="/login">
                                Đăng Nhập
                              </a>
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" routerLink="/dang_ky">
                                Đăng kí
                              </a>
                        </li>

                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </nav>
    <!-- <nav class="bg-warning-subtle" style="height: 45px;"></nav> -->
    <main class="d-flex " style="min-height: 300px; background-color: rgb(164, 164, 164); padding-top: 30px;">
        <aside class="col-md-3 p-1" id="cotphai" style="margin-top: 15px;">
            <div class="d-flex justify-content-center align-items-center">
                <div align="top" class="bg-warning  fw-bold text-center border-1" style="border-radius: 10px; height: 50px; width: 90%; margin-bottom: 10px;">
                    <h6>Tổng Quan</h6>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center" style="margin-bottom: 20px;">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="avata ">
                        <img src="assets/imgaes/avata.jpg" alt="" style="width: 100px; height: 100px; border-radius: 50%; ">

                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="align-items-center">
                            <a href="#" (click)="thoat()">Thoát</a>
                            <p style="color: brown;"> Tình trạng đăng nhập: </p><span>{{ getStatus() }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div style="padding-left: 10px; margin-bottom: 20px;">
                <ul class="list-group">
                    <li class="list-group-item active text-center fw-bold" aria-current="true">Tổng quan Dự Án</li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Số lượng Nhân Viên
                        <span class="badge text-bg-primary rounded-pill">{{ employeeCount }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Số lượng task
                        <span class="badge text-bg-primary rounded-pill">{{countTk}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Số lượng dự án
                        <span class="badge text-bg-primary rounded-pill">{{countda}}</span>
                    </li>
                </ul>
            </div>
            <div style="padding-left: 10px;">
                <ul class="list-group">
                    <li class="list-group-item active text-center fw-bold" aria-current="true">Khách hàng</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>
                </ul>
            </div>
        </aside>
        <article class="col-md-9 " id="cottrai">
            <router-outlet></router-outlet>

        </article>

    </main>
    <footer class="bg-success" style="height: 45px;"></footer>
</div>