<table class="table table-bordered border border-primary" style="background-color: antiquewhite;">
    <caption align="top" class="bg-warning p-1 fw-bold">Danh sách dự án</caption>
    <tr>
        <th>ID</th>
        <th>Ten nhân viên</th>
        <th>Ngày sinh</th>
        <th class="text-end p-1">Khu vực</th>
        <th></th>
    </tr>
    <tr *ngFor="let nv of list_nhan_vien">
        <td class="p-1">{{nv.id}}</td>
        <td>{{nv.ten}}</td>
        <td>{{nv.ngay_sinh|date:'dd/mm/yyyy'}}</td>
        <td class="text-end p-1">{{nv.khu_vuc}}</td>
        <td class="text-end p-1">
            <button type="button" class="btn btn-primary" (click)="deleteNV(nv.id)">Xóa</button>
            <button type="button" class="btn btn-primary" routerLink="/nhan_vien/sua/{{nv.id}}">sửa</button>
        </td>
    </tr>
</table>